.vocab {
  max-width: 737px;
  width: 100%;

	padding-left: 100px;

  height: 36px;
  margin: 58px auto 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #000;
}

.logo {
  width: 32px;
}
