@use 'header';


body {
 margin: 0;
  background-color: white;
  color: black;
	// user-select: none;
}


// body.dark {
//   background-color: black;
//   color: white;
// }

.dark body {
  background-color: black;
  color: white;
}
//такой силектор который при налдичии у родителя
//класс .dark присваивает bady эти свойства